fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.3
cadquery==2.4.0
minio==7.2.5

langgraph
langchain
langchain-core
langchain-community
openai
prompt-toolkit

chromadb
opentelemetry-api
opentelemetry-sdk
tenacity
jinja2
langchain-google-genai
